<header>
  <nav id="client_toolbar">
    <div class="row m-0">
      <ul class="col-sm-6">
        <li class="font-vibes">
          <a class="brand-name" href="/">Calabash</a>
          <button (click)="slideMenu()" class="menu-icon px-3"><fa-icon [icon]="menuIcons"></fa-icon></button>
        </li>
      </ul>
      <ul id="right-nav" class="right col-sm-6">
        <li><a href="home">Home</a></li>
        <li><a href="home#about">About</a></li>
        <li><a href="home#events">Events</a></li>
        <li><a href="home#contact">Contact</a></li>
        <li><a href="home#partner">Become a partner</a></li>
      </ul>
    </div>
  </nav>
</header>
