# Back end 
rest-api/.idea/
rest-api/.vscode/
rest-api/node_modules/
rest-api/build/
rest-api/tmp/
rest-api/temp/


# front end
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
calabash-festival/dist
calabash-festival/tmp
calabash-festival/out-tsc
# Only exists if Bazel was run
calabash-festival/bazel-out

# dependencies
calabash-festival/node_modules

# profiling files
calabash-festival/chrome-profiler-events*.json
calabash-festival/speed-measure-plugin*.json

# IDEs and editors
calabash-festival/.idea
calabash-festival/.project
calabash-festival/.classpath
calabash-festival/.c9/
calabash-festival/*.launch
calabash-festival/.settings/
calabash-festival/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
calabash-festival/.sass-cache
calabash-festival/connect.lock
calabash-festival/coverage
calabash-festival/libpeerconnection.log
calabash-festival/npm-debug.log
calabash-festival/yarn-error.log
calabash-festival/testem.log
calabash-festival/typings

# System Files
calabash-festival/.DS_Store
calabash-festival/Thumbs.db
