<app-admin-toolbar></app-admin-toolbar>
<section id="admin-body">
  <div class="action text-right py-6 px-8">
    <button (click)="toggleModal('#createFormModal')" class="px-4 py-3 shadow bg-yellow-dark rounded">Add event</button>
  </div>
  <div class="body px-8 py-4">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
      <tr>
        <td>#</td>
        <td></td>
        <td>Name</td>
        <td>Start date</td>
        <td>End date</td>
        <td>venue</td>
        <td>action</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events; let i = index;">
        <td>{{i + 1 }}</td>
        <td>
          <img [src]="event.imageUrl" style="width: 75px;height: 75px;" alt="event_image">
        </td>
        <td>{{event.name}}</td>
        <td>{{event.startDate}}</td>
        <td>{{event.endDate}}</td>
        <td>{{event.venue}}</td>
        <td (click)="toggleModal('#updateFormModal', i)"><fa-icon [icon]="editIcon"></fa-icon></td>
      </tr>
      </tbody>
    </table>
  </div>

<!--  always put modal in div#admin-body-->
  <section id="createFormModal" class="modal border-t">
    <div class="modal-title">
      <h3 class="py-3 text-center">Add event</h3>
    </div>
    <div class="modal-body">
      <app-create-event></app-create-event>
    </div>
    <div class="modal-action text-right pt-2 border-t px-2">
      <button (click)="saveEvent()" class="mr-3 shadow py-2 px-4 rounded bg-yellow-dark">save</button>
      <button (click)="toggleModal('#createFormModal')" class="shadow py-2 px-4 rounded">cancel</button>
    </div>
  </section>
  <!--  always put modal in div#admin-body-->
  <section id="updateFormModal" class="modal border-t">
    <div class="modal-title">
      <h3 class="py-3 text-center">Update event</h3>
    </div>
    <div class="modal-body">
      <app-update-event></app-update-event>
    </div>
    <div class="modal-action text-right pt-2 border-t px-2">
      <button (click)="updateEvent()" class="mr-3 shadow py-2 px-4 rounded bg-yellow-dark">save</button>
      <button (click)="toggleModal('#updateFormModal')" class="shadow py-2 px-4 rounded">cancel</button>
    </div>
  </section>


</section>
