@import "../../../@mixins/mixins";
$toolbar-height: 65px;
$toolbar-bg: #000;
$toolbar-color: #eee;

header {
  height: $toolbar-height;
}

nav#client_toolbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
  height: $toolbar-height;
  line-height: $toolbar-height;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
  background-color: $toolbar-bg;
  color: $toolbar-color;
  ul {
    list-style-type: none;
    background-color: $toolbar-bg;
    li {
      a{
        &.brand-name {
          font-size: 1.8rem;
        }
        color: $toolbar-color;
        text-decoration: none;
        display: block;
        padding: 0 16px;
      }
      .menu-icon {
        display: block;
        position: absolute;
        right: 9%;
        top: 32%;
        color: $toolbar-color;
      }
    }

    // for larger screens
    @include md-screens {
      li {
        display: inline-block;
        .menu-icon {
          display: none;
        }
        a{
          &.brand-name {
            font-size: 1.8rem;
          }
          display: block;
          padding: 0 16px;
          &:focus {
            color: yellow;
          }
        }
      }
    }
  }
  ul.right {
    display: none;
    @include md-screens {
      &.right {
        display: block;
      }
    }
  }
}
